body {
    font-family: "Montserrat",sans-serif;
    background-color: #f7f7f7;
  }
  .container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 6rem;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  h1 {
    text-align: center;
    margin-top: 0;
  }
  .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  .info p {
    margin: 0;
  }
  .code {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .date {
    text-align: right;
  }