{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Appointment Receipt</title>
    <link rel="stylesheet" href="{% static 'token_page.css' %}">
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Appointment Slip</h1>
      <div class="info">
        <p>Email : {{email}}</p>
        <p class="code">Code: {{token}}</p>
      </div>
      <div class="info">
        <p>Date of Appointment: {{appointment_date}}</p>
        <p class="date">Time: 8:00AM - 5:00PM</p>
      </div>
      <p><b>Please keep your access code.</b> Thank you for scheduling an appointment with us. We look forward to seeing you.</p>
    </div>
  </body>
</html>